<h1><center>Create Account</center></h1>
<%= form_for(@user) do |f| %>
<div class="welcomebox">
  <div class="login">
    <center>
    <div class="field">
      <%= render 'shared/error_messages' %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
      <div><%= f.hidden_field :funds, :value => 500 %></div>
      <div><%= f.hidden_field :level, :value => 1 %></div>
    <p><br></p>
    <div class="submit" style="width: 60%">
      <%= f.submit "Create my Account"%>
    </div>
  </center>
  </div>
</div>
<% end %>
<!-- <%= link_to 'Back', root_url %> -->
