
<div class="profilebox">
  <div>
    <p class="title"> <%= @user.name %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <div style="display:inline-block; border: 1px solid black; float:right;">
      <%=image_tag 'profile.png', :size => "100x100" %>
    </div>
  </p>
  </div>


  <div style="description">
  <p>
    <strong>ID#:</strong>  <%= @user.id %>
  </p>
  <p>
    <strong>Name:</strong> <%= @user.name %>
  <p>
    <strong>Email:</strong> <%= @user.email %>
  </p>
  <p>
    <strong>Funds:</strong> <%= @user.funds %>
  </p>
  </div>
</div>
</div>
