
<div class="profile">
  <div class="head">
    <p class="title">  <%= @user.name %>
      <%=image_tag 'profile.png', :size => "100x100" %>
    </p>

  <div style="description">
  <p>
    <strong>ID#:</strong>  <%= @user.id %>
  </p>
  <p>
    <strong>Name:</strong> <%= @user.name %>
  <p>
    <strong>Email:</strong> <%= @user.email %>
  </p>
  <p>
    <strong>Funds:</strong> <%= @user.funds %>
  </p>
  </div>
</div>
</div>
