
<div class="postingbox" style="margin-top: 3em;">
  <div>
    <p class="title"> <%= @user.name %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <div style="float:right; border: 1px solid black">
      <%=image_tag 'profile.png', :size => "100x100" %>
    </div>
  </p>
  </div>


  <div class="description">
  <p>
    <strong>ID#:</strong>  <%= @user.id %>
  </p>
  <p>
    <strong>Name:</strong> <%= @user.name %>
  <p>
    <strong>Email:</strong> <%= @user.email %>
  </p>
  <p>
    <strong>Funds:</strong> <%= @user.funds %>
  </p>
  <% if ((logged_in?) && (current_user.level == 0)) %>
  <div class="purchase-button">
    <td><%= link_to 'Edit this profile', edit_user_path(@user) %></td>
  </div>
  <% end %>
  </div>
</div>
</div>
