<% if logged_in? %>
<%= form_for(@posting) do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
      <% @posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style='width: 500px; margin: 0 auto;'>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :infant %><br>
    <%= f.check_box :infant %>
  </div>
  <div class="field">
    <%= f.label :handicap %><br>
    <%= f.check_box :handicap %>
  </div>
  <div class="field">
    <%= f.label :shower %><br>
    <%= f.check_box :shower %>
  </div>
  <%= f.hidden_field :userid, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
<% end %>
