<p id="notice"><%= notice %></p>

<h1>Listing Postings</h1>

<div style="overflow-x:auto;">
<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Description</th>
      <th>Title</th>
      <th>Infant</th>
      <th>Handicap</th>
      <th>Shower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <% if (current_user.id == posting.userid) || (current_user.level == 0) %>
      <tr>
        <td><%= posting.latitude %></td>
        <td><%= posting.longitude %></td>
        <td><%= posting.address %></td>
        <td><%= posting.description %></td>
        <td><%= posting.title %></td>
        <td><%= posting.infant %></td>
        <td><%= posting.handicap %></td>
        <td><%= posting.shower %></td>
        <td><%= link_to 'Show', posting %></td>
        <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
        <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Posting', new_posting_path %>
