<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @posting.title %>
</p>
<p>
  <strong>Address:</strong>
  <%= @posting.address %>
</p>
<p>
  <strong>Description:</strong>
  <%= @posting.description %>
<div style="display:inline-block">
  <% if @posting.infant == true %>
    <%=image_tag 'Baby.png', :size => "100x100" %>
  <% end %>
  <% if @posting.handicap == true %>
    <%=image_tag 'Disabled.png', :size => "100x100" %>
  <% end %>
  <% if @posting.shower == true %>
    <%=image_tag 'Shower.png', :size => "100x100" %>
  <% end %>
</div>
</p>
<div style="display:inline-block">
  <%=image_tag 'nophoto.png' %>
</div>
<div>
<p>
  Owned by:
  <% @users.each do |user| %>
    <% if (user.id == @posting.userid) %>
      <%= user.name %>
    <% end %>
  <% end %>
</p>
</div>
<!-- WE need to find a way to display owners name my searching for his id
<p>
  <strong>userid:</strong>

</p>
-->
<div>
  <h2>Comments</h2>
      <% @posting.comments.each do |comment| %>

        <p>
          <b>Name:</b>
          <%= comment.commenter %>
        </p>
        <p>
          <b>Comment:</b>
          <%= comment.body %>
        </p>

        <% if logged_in? %>
          <% if current_user.level == 0 %>
            <p>
            <%= link_to 'Destroy', [@posting, comment], :method => :delete, :confirm => "Are you sure?" %>
            </p>
          <% end %>
        <% end %>
      <% end %>


    <% if logged_in? %>
        <h2>Add a comment:</h2>
          <%= form_for([@posting, @posting.comments.build]) do |f| %>
        <div class="field">
          <%= f.hidden_field :commenter, :value => current_user.name %>
        </div>
        <div class="field">
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>


      <%= link_to 'Edit', edit_posting_path(@posting) %> |
      <%= link_to 'Back', postings_path %>
    <% end %>
  </div>
