
<p id="notice"><%= notice %></p>
<div class="posting">
  <div class="head">
    <p class="title">
      <%= @posting.title %>
      <% if @posting.infant == true %>
        <%=image_tag 'Baby.png', :size => "80x80" %>
      <% end %>
      <% if @posting.handicap == true %>
        <%=image_tag 'Disabled.png', :size => "80x80" %>
      <% end %>
      <% if @posting.shower == true %>
        <%=image_tag 'Shower.png', :size => "80x80" %>
      <% end %>
    </p>
    <div style="float:left; padding: 0em 1em 1em 0em; display: block">
        <%=image_tag 'nophoto.png', :size => "300x300" %>
    </div>
    <div style="description">
      <p>
        <strong>Address:</strong> <%= @posting.address %>
      </p>
        <p>
          <strong>Description:</strong>
          <%= @posting.description %>
        </p>

        <% flash.each do |key, value| %>
          <center><div class="alert alert-<%= key %>"><%= value %></div></center>
      <% end %>

      <p>
        <strong>UserID:</strong>
        <%= @posting.userid %>
      </p>
      <% @users.each do |user| %>
        <% if (user.id == @posting.userid) %>
            <p>
              <strong>Owned by:</strong>
              <%= user.name %>
            </p>
        <% end %>
      <% end %>
  </div>
  </div>

  <div class="comments">

    <%= form_tag("/transaction", method: :get, class: " navbar-form") do %>
    <%= hidden_field :buyer, :value => User.find(current_user.id) %>
    <%= hidden_field :owner, :value => User.find(@posting.userid) %>

    <%= submit_tag "Purchase Poobr", name: nil, :class => "btn btn-info" %>
    <% end %>
  <div class="title">Comments</div>
  <% @posting.comments.each do |comment| %>

  <p>
    <b>Name:</b>
    <%= comment.commenter %>
  </p>
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>

  <% if logged_in? %>
  <% if current_user.level == 0 %>
  <p>
    <%= link_to 'Destroy', [@posting, comment], :method => :delete, :confirm => "Are you sure?" %>
  </p>
  <% end %>
  <% end %>
  <% end %>


  <% if logged_in? %>
  <div class="title">Add a comment:</div>
  <%= form_for([@posting, @posting.comments.build]) do |f| %>
  <div class="field">
    <%= f.hidden_field :commenter, :value => current_user.name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>


  <%= link_to 'Edit', edit_posting_path(@posting) %> |
  <%= link_to 'Back', postings_path %>
  <% end %>
</div>
